@use 'variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behaviour:smooth;
}

body {
    line-height: 1.4;
    font-family: $font-family;
    line-height: $line-height;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}
